@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap');

.titoli {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    font-size: 40px;
    background: linear-gradient(rgb(173, 173, 173), rgb(242, 242, 242));
}

@media (min-width: 768px) {
    .tablet {display: none;}
    .mobile {display: none;}
}

@media (max-width: 768px) {
    .desktop {display: none;}
    .mobile {display: none;}
}

@media (max-width: 375px) {
    .desktop {display: none;}
    .tablet {display: none;}
}


.cards-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 100%;
    height: 100%;
    margin-top: 150px;
    margin-bottom: 150px;
}

.card {
    border: 1px solid unvisible;
    border-radius: 30px;
    height: 100%;
    width: 350px;
    background: linear-gradient(rgb(173, 173, 173), rgb(242, 242, 242));
    font-family: 'Roboto', sans-serif;
    color: rgb(80, 80, 80);
    box-shadow: 0px 8px 10px -6px rgba(40, 40, 40, 0.5);

}

.card-title {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.card-avatar {
    display: flex;
    border: 1px solid unvisible;
    border-radius: 100%;
    overflow: hidden;
    width: 50px;
    height: 50px;
    margin: 10px;
}

.card-name {
    display: flex;
}

#date {
    color: white;
}

.card-menu {
    display: flex;
    flex: 1;
    justify-content: flex-end;
    margin-right: 15px
}

.card-menu img {
    opacity: 0.5;
}

.photo {
    display: flex;
    justify-content: center;
}



.social-icons {
    display: flex;
    justify-content: flex-start;
    padding: 10px;
}

#hearth {
    display: flex;
    justify-content: flex-start;
    flex-basis: 30px;
}

#hearth img {
    opacity: 0.8;
}

#comment {
    display: flex;
    justify-content: flex-start;
    margin-right: 100px;
    flex-basis: 30px;
}

#comment img {
    opacity: 0.6;
}


.description {
    display: flex;
    justify-content: flex-start;
    padding-left: 10px;

}